body{
    background-color: #111827;
}

p{
    color:rgb(58, 231, 226);
    font-size:medium;
    text-align:left;
    font-family:'Courier New', Courier, monospace;
}

#title{
    color:rgb(181, 181, 219);
    font-size:large;
    font-weight:bold;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
}
#name{
    color:rgb(48, 180, 241);
    padding-left:5%;
}
#profession{
    color:rgb(58, 231, 226);
    font-size:large;
    text-align:left;
}
img{
    width:12.5%;
    height:12.5%;
    border-radius:50%;
}

.namecard{
    border:2px solid rgba(33, 176, 215, 0.501);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:start;
    box-shadow: 10px 10px 10px rgba(33, 176, 215, 0.501);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border: 2px solid rgba(137, 51, 83, 0.501);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(137, 51, 83, 0.501);

}

.btn{
    background-color:rgb(194, 255, 255);
    color:rgb(20, 97, 3);
    font-size:medium;
    text-align:center;
    
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Courier, monospace;
}

.btn:hover{
    transition: 0.5s;
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    }
